# Nombre que aparece en el titulo y otras partes de la aplicacion
NEXT_PUBLIC_APP_NAME=""

# Descripcion (meta headers)
NEXT_PUBLIC_DECRIPTION=""

# Numero con prefijo de pais, sin espacios
NEXT_PUBLIC_OWNER_PHONE=""

# Los links a las redes sociales (Aparecerán en el footer y algunos otros elementos)
NEXT_PUBLIC_WHATSAPP_LINK="https://www.whatsapp.com"
NEXT_PUBLIC_FACEBOOK_LINK="https://www.facebook.com"
NEXT_PUBLIC_INSTAGRAM_LINK="https://www.instagram.com"

# Usado en la autenticacion para generar tokens, cookies, etc (Utilizar: openssl rand -base64 32)
NEXTAUTH_SECRET=""
# NEXTAUTH_URL="http://localhost:3000" # Solo para desarrollo en local

# El email y contraseña que se utilizaran para el usuario root (Se genera en cada seed)
ROOT_EMAIL="" # Minimo 4 digitos
ROOT_PASSWORD="" # Minimo 6 digitos

### PRISMA
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Cadena de conexion a la base de datos
DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"