# Nombre que aparece en el titulo y otras partes de la aplicacion
NEXT_PUBLIC_APP_NAME=""

# Descripcion (meta headers)
NEXT_PUBLIC_DECRIPTION=""

# Numero con prefijo de pais, sin espacios
NEXT_PUBLIC_OWNER_PHONE=""

### PRISMA
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"