@import '/src/styles/vars';

.wrapper {
	transition: $sidebarTransition;
}

.sidebarToggled {
	margin-left: $sidebarSize;
	transition: $sidebarTransition;
}

@media (width < 930px) {
	.sidebarToggled {
		min-width: 100vw;
	}
}
